<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LeaderBoard</title>
</head>
<header>
  <h1>Goal Betting</h1>
</header>
<ul class="menu-bar">
  <li ng-click="navigateToPrediction()">Prediction</li>
  <li ng-click="navigateToLeaderBoard()">LeaderBoard</li>
  <li>ScoreCard</li>
</ul>
<div class="main-content">

  <div class="form-validation" >
    <h2>LeaderBoard</h2>
    <div class="margin-bar">
    </div>

    <!-- <div ng-if="!showLeaderBoard">     -->
      <div class="form-row">
    <label>
        <span>Match</span>
        <select name="dropdown" ng-model="predictionMatch"  ng-options="item as (item.homeTeamName + ' vs ' + item.awayTeamName) for item in predictionFixtures" ng-change="getMatch()">
        <option value="">Select the match</option>
        </select>
    </label>
</div>
<!-- </div> -->
    <div ng-if="showLeaderBoard">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
      <ul ng-repeat="item in leaderBoard | filter : predictionFilter">
        <li>{{item.userId}}</li>
      </ul>
    </div>

  </div>
</div>
</body>

</html>
