<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Goal Betting</title>
</head>
	<header>
		<h1>Goal Betting</h1>
    </header>
    <div class="menu-bar">
    </div>
    <div class="main-content">
        <form class="form-login" ng-submit="submitButton()">
            <div class="form-log-in-with-email">
                <div class="form-white-background">
                    <div class="form-title-row">
                        <h1>Log in</h1>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Email</span>
                            <input type="email" name="email" ng-model="username">
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Password</span>
                            <input type="password" name="password" ng-model="password">
                        </label>
                    </div>
                    <div class="form-row">
                        <button type="submit">Log in</button>
                    </div>
                </div>
                <a href="#" ng-click="$event.preventDefault();forgotPassword()"class="form-forgotten-password">Forgot password &middot;</a>
                <a href="#" ng-click="$event.preventDefault();createAccount()" class="form-create-an-account">Create an account &rarr;</a>
            </div>
            <!-- <div class="form-sign-in-with-social">
                <div class="form-row form-title-row">
                    <span class="form-title">Sign in with</span>
                </div>
                <a href="#" class="form-google-button">Google</a>
                <a href="#" class="form-facebook-button">Facebook</a>
                <a href="#" class="form-twitter-button">Twitter</a>
            </div> -->
        </form>
    </div>
</body>
</html>
