<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration Form</title>
</head>
    <header>
    <h1>Goal Betting</h1>
    </header>
    <div class="menu-bar">
    </div>
    <div class="main-content">
        <form class="form-register" ng-submit="submitButton()">
            <div class="form-register-with-email">
                <div class="form-white-background">
                    <div class="form-title-row">
                        <h1>Create an account</h1>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Name</span>
                            <input type="text" name="name" ng-model="username">
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Email</span>
                            <input type="email" name="email" ng-model="email">
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Password</span>
                            <input type="password" name="password" ng-model="password">
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="form-checkbox">
                            <input type="checkbox" name="checkbox" checked>
                            <span>I agree to the <a href="#">terms and conditions</a></span>
                        </label>
                    </div>
                    <div class="form-row">
                        <button type="submit">Register</button>
                    </div>
                </div>
                <a href="#" ng-click="$event.preventDefault();login()" " class="form-log-in-with-existing">Already have an account? Login here &rarr;</a>
            </div>
            <!-- <div class="form-sign-in-with-social">
                <div class="form-row form-title-row">
                    <span class="form-title">Sign in with</span>
                </div>
                <a href="#" class="form-google-button">Google</a>
                <a href="#" class="form-facebook-button">Facebook</a>
                <a href="#" class="form-twitter-button">Twitter</a>
            </div> -->
        </form>
    </div>
</body>
</html>
