<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<header>
    <h1>Goal Betting</h1>
</header>
<ul class="menu-bar">
    <li ng-click="navigateToPrediction()">Home</li>
    <li ng-click="navigateToLeaderBoard()">LeaderBoard</li>
    <li>ScoreCard</li>
</ul>
</div>
<div class="main-content">
    <form class="form-validation" ng-submit="submitButton()">
        <div class="form-title-row">
            <h1>Predictions</h1>
        </div>
<!-- <div class="form-row form-input-name-row">
<label>
<span>Match</span>
<input type="text" name="name">
</label>
<span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
<span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
<span class="form-invalid-data-info"></span>
</div>
<div class="form-row form-input-email-row">
<label>
<span>Winning Team</span>
<input type="Text" name="winningTeam" ng-model="winningTeam">
</label>
<span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
<span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
<span class="form-invalid-data-info"></span>
</div> -->
<div class="form-row">
    <label>
        <span>Match</span>
        <select name="dropdown" ng-model="predictionMatch"  ng-options="item as (item.homeTeamName + ' vs ' + item.awayTeamName) for item in predictionFixtures" ng-change="getMatch()">
        <option value="">Select the match</option>
        </select>
    </label>
</div>
<!-- <div ng-if="matchSelected">
        <div class="form-row" >
            <label>
            <details>
                  <summary>Match info</summary>
                  <p> <span>Time : {{predictionMatch.date}} </span></p>
                  <p> <span>City : {{predictionMatch.city}} </span></p>
                  <p><span>Group : {{predictionMatch.group}}</span></p>
            </details>
            </label>
        </div>
</div> -->
<!-- <div class="form-row">
    <label>
        <span>Winning Team</span>
        <select name="dropdown" ng-model="matchWinner"  ng-options=" item for item in teamsInMatch" ng-change="selectWinner(matchWinner)">
        </select>
    </label>
</div> -->
<div class="form-row">
    <label>
        <span>Score</span>
     </label>
        <input type="text" class="score-input" ng-model="score1"> : 
        <input type="text" class="score-input" ng-model="score2">
   
</div>

<div class="form-row">
    <button type="submit">Send</button>
</div>

</form>
</div>
</body>
</html>
